[submodule "config/vim/pack/p/start/YouCompleteMe"]
	path = config/vim/pack/p/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "config/vim/pack/p/start/fzf.vim"]
	path = config/vim/pack/p/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "config/vim/pack/p/start/vim-go"]
	path = config/vim/pack/p/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "config/vim/pack/p/start/vim-one"]
	path = config/vim/pack/p/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "config/vim/pack/p/start/vim-repeat"]
	path = config/vim/pack/p/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "config/vim/pack/p/start/vim-sensible"]
	path = config/vim/pack/p/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "config/vim/pack/p/start/vim-surround"]
	path = config/vim/pack/p/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "config/vim/pack/p/start/vim-terraform"]
	path = config/vim/pack/p/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "config/vim/pack/p/start/wmgraphviz.vim"]
	path = config/vim/pack/p/start/wmgraphviz.vim
	url = https://github.com/wannesm/wmgraphviz.vim.git
[submodule "config/vim/pack/p/start/vim-sleuth"]
	path = config/vim/pack/p/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "config/vim/pack/p/start/vim-fugitive"]
	path = config/vim/pack/p/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
