[submodule "config/vim/vim-fugitive.git"]
	path = config/vim/pack/p/start/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "config/vim/fzf.vim.git"]
	path = config/vim/pack/p/start/fzf.vim.git
	url = https://github.com/junegunn/fzf.vim.git
[submodule "config/vim/vim-go.git"]
	path = config/vim/pack/p/start/vim-go.git
	url = https://github.com/fatih/vim-go.git
[submodule "config/vim/vim-repeat.git"]
	path = config/vim/pack/p/start/vim-repeat.git
	url = https://github.com/tpope/vim-repeat.git
[submodule "config/vim/vim-sensible.git"]
	path = config/vim/pack/p/start/vim-sensible.git
	url = https://github.com/tpope/vim-sensible.git
[submodule "config/vim/vim-surround.git"]
	path = config/vim/pack/p/start/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule "config/vim/vim-terraform.git"]
	path = config/vim/pack/p/start/vim-terraform.git
	url = https://github.com/hashivim/vim-terraform.git
[submodule "config/vim/wmgraphviz.vim.git"]
	path = config/vim/pack/p/start/wmgraphviz.vim.git
	url = https://github.com/wannesm/wmgraphviz.vim.git
[submodule "config/vim/vim-sleuth.git"]
	path = config/vim/pack/p/start/vim-sleuth.git
	url = https://github.com/tpope/vim-sleuth.git
[submodule "config/vim/pack/p/start/fugitive-gitlab.vim.git"]
	path = config/vim/pack/p/start/fugitive-gitlab.vim.git
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
[submodule "config/vim/pack/p/start/supertab.git"]
	path = config/vim/pack/p/start/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule "config/vim/pack/p/start/jedi-vim.git"]
	path = config/vim/pack/p/start/jedi-vim.git
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "config/vim/pack/p/start/vim-rhubarb.git"]
	path = config/vim/pack/p/start/vim-rhubarb.git
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "config/vim/pack/p/start/ale.git"]
	path = config/vim/pack/p/start/ale.git
	url = https://github.com/dense-analysis/ale.git
[submodule "config/vim/pack/p/start/vim-colors-solarized.git"]
	path = config/vim/pack/colors/start/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
